/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
h1{
	font-size: 2em;
}

.white-font{
	color: white;
}
.green-font{
	color: $color_green;
}
.small-font{
	font-size:10px;
}
.orange-font {
	color: $color_orange;
}
.green-bkg {
	background-color: $color_green;
}
.black-font{
	color:black;
}